@charset "utf-8";

.failLogin{
	text-align: center;
	color: red;
	font-size: 15px;
}

.id{
	width: 150px;
	margin: 10px auto;
}
.password{
	width: 150px;
	margin: 10px auto;
}
.loginSubmit{
	width: 150px;
	margin: 10px auto;
	float: center;
}
.header{
	text-align: center;
}